<div class="col">
    <div class="card rounded-3 order-card">
        <div class="card-header py-3">
            <h4>@Order.ClientName @Order.Status</h4>
        </div>
        <div class="card-body employee-card text-center">

            <button class="btn btn-primary btn-sm mb-1" @onclick="@(async () => await OrderViewClicked.InvokeAsync(Order))"> Quick view</button>
            <a href="@($"orderdetail/{Order.OrderId}")" class="btn btn-outline-primary btn-sm mb-1">
                Full details
            </a>
            @if (Order.Status == Domain.Model.OrderStatus.New)
            {
                <a href="@($"orderedit/{Order.OrderId}")" class="btn btn-outline-primary btn-sm mb-1">
                    Edit Order
                </a>
            }
        </div>
    </div>
</div>

