@page "/ordersoverviewmud"
@using Domain.Model;
@using global::Shared;

<h3>Orders Overview implemented with MudBlazor</h3>

<InputSelect id="statuss" @bind-Value=@currentOrderStatus class="form-control col-md-8 w-2" placeholer="Enter status">
    @foreach (var currentStatus in Enum.GetValues(typeof(OrderStatus)))
    {
        <option value="@currentStatus">@currentStatus</option>
    }
</InputSelect>


<MudTable Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<OrderDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Filters</MudText>
        <MudSpacer />
        <MudDatePicker Label="DateFrom" @bind-Date="DateFrom" DisableToolbar="true" />
        <MudDatePicker Label="DateTo" @bind-Date="DateTo" DisableToolbar="true" />
        <MudSpacer/>
        <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="@ResetFilters">Filter Reset</MudButton>

    </ToolBarContent>
    <HeaderContent>
        <MudTh>Actions</MudTh>
        <MudTh>OrderNumber</MudTh>
        <MudTh>CreateDate</MudTh>
        <MudTh>ClientName</MudTh>
        <MudTh>OrderPrice</MudTh>
        <MudTh>Status</MudTh>

        <MudTh>AdditionalInfo</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <MudButton Variant="Variant.Outlined" Color="Color.Info" Size=Size.Small OnClick="@(() => ShowBtnPress(Convert.ToInt32(context.OrderId)))">Detail</MudButton>
            @if (context.Status == Domain.Model.OrderStatus.New)
            {
                <MudButton Href="@($"ordereditmud/{@context.OrderId}")" Color="Color.Warning">Edit</MudButton>
            }
            <MudButton Color="Color.Error">Delete</MudButton>
        </MudTd>
        <MudTd DataLabel="OrderId">@context.OrderId</MudTd>
        <MudTd DataLabel="CreateDate">@context.CreateDate</MudTd>
        <MudTd DataLabel="ClientName">@context.ClientName</MudTd>
        <MudTd DataLabel="OrderPrice">@context.OrderPrice</MudTd>
        <MudTd DataLabel="Status">@context.Status</MudTd>
        <MudTd DataLabel="AdditionalInfo">@context.AdditionalInfo</MudTd>
    </RowTemplate>

    <ChildRowContent>
        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="4">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">Address Details for <strong>@context.ClientName</strong></MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pa-0">
                            <MudTable Items="@context.OrderLines" Context="AddressContext" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
                                <ColGroup>
                                    <col />
                                    <col />
                                    <col style="width:200px;" />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh>Product</MudTh>
                                    <MudTh>Price</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Product">@AddressContext.Product</MudTd>
                                    <MudTd DataLabel="Price">@AddressContext.Price</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>


    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Inline="true" Class="align-self-center">Selected1: @selectedItem1?.ClientName</MudText>
    </div>
</div>

