@page "/ordereditmud"
@page "/ordereditmud/{OrderId}"
@using Domain.Model;
@using global::Shared;
@using System.ComponentModel.DataAnnotations

    <section class="order-edit">

        @if (@OrderDto.OrderId != 0)
        {
            <h1 class="page-title">Details for @OrderDto.ClientName</h1>
        }
        else
        {
            <h1 class="page-title">Creating new order</h1>
        }
    </section>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                        <MudDatePicker Label="CreateDate" @bind-Date="model.CreateDate" DisableToolbar="true" /> @*//Sprawdzicczas*@
                    <MudSelect @bind-Value="model.Status" Label="Select Status" AdornmentColor="Color.Secondary">
                            @foreach (var item in Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>().Where(x=>x > 0))
                        {
                            <MudSelectItem Value="@item">@item</MudSelectItem>
                        }
                    </MudSelect>
                    <MudTextField Label="ClientName" Class="mt-3" @bind-Value="model.ClientName" For="@(() => model.ClientName)" />
                    <MudNumericField @bind-Value="model.OrderPrice" Disabled="true" Label="OrderPrice" Variant="Variant.Text" Min="0" Max="10" />
                    <MudTextField Label="AdditionalInfo" Class="mt-3"
                                  @bind-Value="model.AdditionalInfo" For="@(() => model.AdditionalInfo)" InputType="InputType.Text" />
                </MudCardContent>

            <MudTable Items="@OrderDto.OrderLines" Hover="true" Context="orderLinesContext" Dense="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                <HeaderContent>
                    <MudTh>Product</MudTh>
                    <MudTh>Price</MudTh>
                </HeaderContent>
                <RowTemplate>
                        <MudTd DataLabel="Product">@orderLinesContext.Product</MudTd>
                        <MudTd DataLabel="Price">@orderLinesContext.Price</MudTd>
                </RowTemplate>
            </MudTable>


                @if (OrderDto.Status == OrderStatus.None || OrderDto.Status == OrderStatus.New)
                {
                    <MudTextField Label="Product" Class="mt-3" @bind-Value="currentProduct" Placeholder="Enter Product Name" For="@(() => currentProduct)" />
                    <MudNumericField @bind-Value="currentPrice" Label="OrderPrice" Placeholder="Enter Product Price" Variant="Variant.Text" Min="0" />
                    <br />

                    @*<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>*@

                    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@RemoveProducts"> RemoveProducts</button>
                    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@AddOrderLine"> AddOrderLine</button>
                }

                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                @if (success)
                {
                    <MudText Color="Color.Success">Success</MudText>
                }
                else
                {
                    <MudText Color="@Color.Error">
                        <ValidationSummary />
                    </MudText>
                }
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body2" Align="Align.Center">
                Fill out the form correctly to see the success message.
            </MudText>
        </MudItem>
    </MudGrid>
</EditForm>


