@page "/orderedit"
@page "/orderedit/{OrderId}"
@using Domain.Model;
@if (!Saved)
{
    <style>
        table, th, td {
        border: 1px solid black;
        width: 10
        }
    </style>


    <section class="order-edit">

        @if (@OrderDto.OrderId != 0)
        {
            <h1 class="page-title">Details for @OrderDto.ClientName</h1>
        }
        else
        {
            <h1 class="page-title">Creating new order</h1>
        }

    <EditForm Model="@OrderDto" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

        <div class="row mb-3">
            <label for="lastName" class="col-form-label col-md-3">ClientName: </label>
            <div class="col-md-8">
                <InputText id="clientName" @bind-Value=@OrderDto.ClientName class="form-control col-md-8" placeholer="Enter ClientName"></InputText>
            </div>
        </div>

        
        <div class="row mb-3">
            <label for="lastName" class="col-form-label col-md-3">CreationDate: </label>
            <div class="col-md-8">
                <InputDate id="creationDate" @bind-Value=@OrderDto.CreateDate class="form-control col-md-8" placeholer="Enter creaionDate" />
            </div>
        </div>

        <div class="row mb-3">
            <label for="orderPrice" class="col-form-label col-md-3">OrderPrice: </label>
            <div class="col-md-8">
                    @OrderDto.OrderPrice
                @*<InputNumber id="orderPrice" @bind-Value=@OrderDto.OrderPrice class="form-control col-md-8" placeholer="Enter OrderPrice" />*@
            </div>
        </div>

        <div class="row mb-3">
            <label for="status" class="col-form-label col-md-3">Status: </label>
            <div class="col-md-8">
                <InputSelect id="status" @bind-Value=@OrderDto.Status class="form-control col-md-8" placeholer="Enter status">
                @foreach (var orderStatus in Enum.GetValues(typeof(OrderStatus)))
                    {
                        <option value="@orderStatus">@orderStatus</option>
                    }   
                </InputSelect>
            </div>
        </div>

        <div class="row mb-3">
            <label for="Info" class="col-form-label col-md-3">Info: </label>
            <div class="col-md-8">
                <InputText id="info" @bind-Value=@OrderDto.AdditionalInfo class="form-control col-md-8" placeholer="Enter Info" />
            </div>
        </div>

            <div class="row mb-3">
                <label for="Info" class="col-form-label col-md-3">OrderLine: </label>
                <div class="col-md-8">
                    <table class="col-md-8" width="100">
                            <tr>
                            <th>Product</th>
                            <th>Price</th>
                            </tr>


                            @foreach (var orderLine in OrderDto.OrderLines)
                            {
                            <tr>
                              <td>@orderLine.Product</td>
                              <td>@orderLine.Price</td>
                            </tr>
                            }
                        </table>

                    <br />
                    <br />
                    <br />

                     @if (OrderDto.Status == OrderStatus.None || OrderDto.Status == OrderStatus.New)
                    {
                        <InputText id="info" @bind-Value=@currentProduct class="form-control" placeholer="Enter ProductName" />
                        <InputNumber id="info" @bind-Value=@currentPrice class="form-control" placeholer="Enter ProductPrice" />
                    <br />
                    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@AddOrderLine"> AddOrderLine</button>
                    }

                </div>

            </div>

        @if (OrderDto.OrderId >0)
        {
            <button type="button" class="btn-outline-primary" @onclick="@DeleteOrder">Delete</button>
        }

        <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToOverview"> Back to overview</button>
        <button type="submit" class="btn btn-primary me-1">Save Order</button>

    </EditForm>
</section>
}
else
{
    <div>@Message</div>
    <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToOverview"> Back to overview</button>
}
