@page "/orderdetail/{OrderId}"


<section class="order-detail">
    <h1 class="page-title">Details for @Order.ClientName</h1>
    <br />
      <div class="col-10 row">
            <div class="col-12 col-xxl-8">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ClientName</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Order.ClientName</label>
                    </div>
                </div>

                 <div class="form-group row">
                    <label class="col-sm-4 col-form-label">CreationDate</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Order.CreateDate</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Status</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Order.Status</label>
                    </div>
                </div>
            </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
                <label type="number" class="form-control-plaintext">@Order.OrderPrice.ToString()</label>
            </div>
        </div>
    </div>



    </section>